<div class="row" ng-controller="loginCtrl">
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
        <div class="page-header">
            <span class="custom-logo"></span>
            <h1 class="logo"> Sign in</h1> </div>
        <div>

            <div style="height:200px">
                <input id="textinput" name="userName" type="text" placeholder="Enter User Name" ng-model="login.userName" class="form-control input-md" style="width:250px" required>
                <br>
                <input id="textinput" name="password" type="password" placeholder="Enter Password" ng-model="login.password" class="form-control input-md" style="width:250px" required>
                <br>
                <div>
                    <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small> </div>
                <br>
                <button id="singlebutton" name="login" value="login" class="btn btn-warning pull-left" ng-click="loginUser()">Log In</button> <a><small style="margin-left:10px">Register here</small></a> </div>

        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
