<nav class="navbar navbar-default" style="background-color: #e0d6dc">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <custom-logo></custom-logo>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" ng-model="search.product" class="form-control" placeholder="Search here">
                <button ui-sref="products" class="btn btn-default">{{'SEARCH'|translate}}</button>
                <button ui-sref="addProduct" type="submit" class="btn btn-default">{{'ADD_PRODUCT'|translate}}</button>
            </div>
        </div>

        <ul class="nav navbar-nav navbar-right" ng-if="!user.isLoggedIn">

            <li ui-sref="login">
                <a href="">
                    <button class="btn btn-default btn-warning">{{'LOGIN'|translate}}</button>
                </a>
            </li>
            <li ui-sref="register"><a href=""><small style="color:#e87108">{{'REGISTER'|translate}}</small></a></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="black"><b>Your Account info</b></font> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Account Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Your Orders</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Help& Support</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Sign out</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="user.isLoggedIn">
            <li><a href="">{{user.firstName}}
            {{user.lastName}}</a></li>
            <li><a href="">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="" ng-click="changeLanguage('en')">English
           </a></li>
            <li>
                <a href="" ng-click="changeLanguage('de')">Deutsche</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>
